.game {
  background-color: #f5f5f7;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.game_questions {
  padding-top: 133px;
  padding-left: 80px;
  flex-grow: 1;
}

.game_question {
  width: 624px;
  margin-bottom: 395px;
}

.game_progress_container {
  width: 376px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game_progress_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.game_progress {
  display: flex;
  justify-content: center;
  position: relative;
}

.game_progress_shape {
  width: var(--game_progress_shape_width);
  height: var(--game_progress_shape_height);
  z-index: 10;
  background-color: var(--color-gray);
  clip-path: var(--clip-path-polygon);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game_progress_data {
  clip-path: var(--clip-path-polygon);
  background-color: #ffffff;
  border: none;
  width: calc(var(--game_progress_shape_width) - 2px);
  height: calc(var(--game_progress_shape_height) - 2px);
  text-align: center;
  font-size: 20px;
  line-height: var(--game_progress_shape_height);
}

.game_options_container {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(var(--game_options_wrapper_width) * 2);
}

.game_options_wrapper {
  width: var(--game_options_wrapper_width);
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  position: relative;
  cursor: pointer;
}

.game_options_wrapper > :first-child,
.game_options_wrapper > :nth-child(2) {
  transition: background-color 200ms;
}

.game_options_wrapper:hover > :first-child,
.game_options_wrapper:hover > :nth-child(2) {
  background-color: #1e6a8e;
}

.game_options_shape {
  width: var(--game_options_shape_width);
  height: var(--game_options_shape_height);
  box-sizing: border-box;
  clip-path: var(--clip-path-polygon);
  background-color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game_options_data {
  clip-path: var(--clip-path-polygon);
  background-color: var(--color-white);
  width: calc(var(--game_options_shape_width) - 2px);
  height: calc(var(--game_options_shape_height) - 2px);
  border: none;
  text-align: start;
  cursor: pointer;
}

.game_options_text {
  line-height: calc(var(--game_options_shape_height) - 2px);
  font-size: 20px;
  padding-left: 32px;
}

.game_options_text :first-child {
  color: #004974;
  font-weight: 600;
}

.game_options_text :nth-child(2) {
  color: #3891b1;
  font-weight: 400px;
}

.game_line {
  position: absolute;
  margin: 0;
  width: 100%;
  z-index: 0;
  top: 50%;
  border: none;
  height: 1px;
  background-color: var(--color-gray);
  transform: translate(0, -50%);
}

.selected_bg {
  background-color: #fff3eb;
}

.selected_border {
  background-color: #ff8b37;
}

.correct_bg {
  background-color: #e6faea;
}

.correct_border {
  background-color: #47d867;
}

.wrong_bg {
  background-color: #fdeeed;
}

.wrong_border {
  background-color: #ec6259;
}
