.options_container {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(var(--game_options_wrapper_width) * 2);
}

.options_wrapper {
  width: var(--game_options_wrapper_width);
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  position: relative;
  cursor: pointer;
}

.options_wrapper > :first-child,
.options_wrapper > :nth-child(2) {
  transition: background-color 200ms;
}

.options_wrapper:hover > :first-child,
.options_wrapper:hover > :nth-child(2) {
  background-color: #1e6a8e;
}

.options_shape {
  width: var(--game_options_shape_width);
  height: var(--game_options_shape_height);
  box-sizing: border-box;
  clip-path: var(--clip-path-polygon);
  background-color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.options_data {
  clip-path: var(--clip-path-polygon);
  background-color: var(--color-white);
  width: calc(var(--game_options_shape_width) - 2px);
  height: calc(var(--game_options_shape_height) - 2px);
  border: none;
  text-align: start;
  cursor: pointer;
}

.options_text {
  line-height: calc(var(--game_options_shape_height) - 2px);
  font-size: 20px;
  padding-left: 32px;
}

.options_text :first-child {
  color: #004974;
  font-weight: 600;
}

.options_text :nth-child(2) {
  color: var(--color-aqua);
  font-weight: 400px;
}
