.menu {
  background: linear-gradient(to bottom right, transparent 50%, #f5f5f7 50%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mune_title {
  margin: 0;
  margin-bottom: 80px;
  color: #1c1c21;
  font-size: 56px;
}

.menu_start_btn {
  height: 64px;
  width: 296px;
  text-align: center;
  line-height: 64px;
  border: none;
  border-radius: 10px;
  color: var(--color-white);
  font-size: 20px;
  font-weight: 600;
  background-color: var(--color-aqua);
  transition: 200ms;
  cursor: pointer;
}

.menu_start_btn:active {
  background-color: var(--color-dark-blue);
}

.hand_image {
}
