@import './styles/StartingMenu.css';
@import './styles/Game.css';
@import './styles/EndOfGame.css';
@import './styles//Progress.css';
@import './styles/Options.css';

:root {
  --clip-path-polygon: polygon(
    95% 0%,
    100% 50%,
    95% 100%,
    5% 100%,
    0% 50%,
    5% 0%
  );
  --color-gray: #d0d0d8;
  --color-white: #ffffff;
  --color-aqua: #3891b1;
  --color-dark-blue: #003b63;
  --game_options_shape_width: 389px;
  --game_options_shape_height: 72px;
  --game_options_wrapper_width: 421px;
  --game_progress_shape_width: 240px;
  --game_progress_shape_height: 40px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

.selected_bg {
  background-color: #fff3eb;
}

.selected_border {
  background-color: #ff8b37;
}

.correct_bg {
  background-color: #e6faea;
}

.correct_border {
  background-color: #47d867;
}

.wrong_bg {
  background-color: #fdeeed;
}

.wrong_border {
  background-color: #ec6259;
}
